*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}


/* body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    background-color: #444;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
} */